@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$accent-color: #3b82f6;

* {
    font-family: Inter, sans-serif;
}

@media (max-width: 768px) {
    body {
        font-size: .7em;
        overflow: hidden;
        overflow-y: hidden;
    }

    .title i {
        font-size: 2em !important;
    }

    .title {
        margin-bottom: 1.4vh !important;
    }

    h1, i {
        margin: auto 1vw;
    }

    .container {
        padding: 0vh auto;
        height: 100%;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    .tripsContainer {
        display: block !important;
        width: 200%;
        margin: auto;
        margin-left: -50%;
    }

    .trip {
        margin: 1vh auto !important;
    }

    button {
        margin-top: 1.5vh !important;
        width: 50% !important;
        border-radius: 50vw  !important;
    }

    .track {
        font-size: 1.3em !important;
    }

    .delete {
        visibility: hidden !important;
    }

    .tooltip-text {
        font-size: 1.3em !important;
    }

    .fa-clock {
        font-size: 1.1em !important;
        margin-top: auto !important;

    }

    .delay-indicator {
        margin-top: auto !important;
    }
    
    .tooltip-container .delay-indicator {
        margin: auto;
        visibility: visible !important;
    }

    .warning {
        margin-top: 5vh !important;

        i {
            font-size: 3em !important;
        }
    
        p {
            font-size: 1.3em;
        }
    }

    .multipleStops {
        font-size: .95em !important;

        i {
            margin: 0 .4em !important;
        }
    }

    #searchGroup {
        margin-top: 5px !important;
        transform: translate(-23px, 0) !important;
        z-index: 50;
    }

    #searchBox, #resultsContainer {
        font-size: 1.5em !important;
    }
}

@media (min-width: 769px) {
    
    body {
        display: flex;
        background-color: white !important;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        overflow: hidden;
        //transition: all 0.5s ease;
    }

    .title i {
        margin-bottom: 2vh !important;
    }

    h1 {
        font-size: 3em !important;
        margin-bottom: 1vh !important;
    }

    .delete {
        display: inline-block;
    }

    #searchBox, #resultsContainer {
        font-size: 1.2em !important;
    }
    
}

.title {
    display: flex;
    justify-content: center;
    margin: auto;

    h1, i {
        margin: auto 1vh;
    }

    i {
        color: $accent-color;
        font-size: 2.5em;
        transition: all 0.2s ease;

        &:hover {
            transform: scale(1.1);
    }
}

}


h1 {
    margin: 0;
}

.container {
    position: relative;
    background-color: transparent;
    padding: 6vh 8vh;
    padding-bottom: 0 !important;
    z-index: 1;
    margin: 2vh;

    h1 {
        text-align: center;
    }
}

.center {
    /*position: absolute;
    margin: auto;
    text-align: center;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tripsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip-mobile {
    width: 50vw !important;
    margin-bottom: 0 !important;
    max-width: none !important;
}

.trip {
    margin: 1em;
    padding: 2em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 2vh;
    max-width: fit-content;
    min-width: 15vw;
    justify-content: center;
    transition: all 0.2s ease;
    z-index: 1;

    &:hover {
        box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
        transform: scale(1.0075);
    }
}

.refresh {
    text-align: center;

    button {
        margin: auto;
        width: 50px;
        height: 50px;
        color: white;
        background-color: $accent-color;
        border: 2px solid #e4e4e7;
        border-radius: 10px;
        cursor: pointer;
        transition: all .2s ease;
        z-index: 0;

        &:hover {
            background-color: darken($accent-color, 10%);
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
            transform: scale(1.1);
        }

        i {
            margin: auto;
        }
    }
}



.trip {

    .station {
        padding-top: 0 !important;
        margin: 0 !important;
        position: relative;

    }

    span {
        display: flex;
        justify-content: center;

        i {
            font-size: 1em;
            margin: auto .5vh;
        }

    }
    #title_time {
        font-weight: 400;
        padding-top: 0 !important;
        margin: 0 !important;

    }
}

a {
    color: #3b82f6;
    font-weight: 700;
}

#no_results {
    color: black !important;
}

.title_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

i {
    margin: 2vh 0;
    font-size: 1.5em;
}

.track {
    margin: 0 0 auto;
}


.apple-mobile-web-app {
    font-size: .7em !important;

    body,
    html {
    position: fixed;
    }

    button {
        margin-top: 3vh !important;
        width: 25vw !important;
        border-radius: 10vw !important;
        transform: scale(1.5) !important;
    }

    .trip {
        margin: 2vh auto !important;
    }

    .title {
        font-size: 1.5em !important;
        margin-top: 3vh !important;
    }

    .container {
        margin: 2vh !important;
    }
}

.transparent {
    opacity: 0%;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 2;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px; /* Use half the width to center the tooltip */

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: .7;
}

.transparent ~ .tooltip-text {
    visibility: hidden !important;
    opacity: 0 !important;
}

.delay-indicator {
    margin: auto;
    visibility: hidden !important;
}

.fa-bus {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.warning {
    text-align: center;
    margin-top: 1vw;

    i {
        color: rgb(255, 136, 0);
        font-size: 2em;
    }

    p {
        margin: 0;
    }

    #extra-break {
        display: none;
    }
}

.warning-container {
    padding: 0 !important;
    display: inline-flexbox !important;
}

.arrow_text {
    display: flex;
    text-align: right;

    p {
        margin: auto 0;
    }

    .multipleStops {
        display: flex;
        justify-content: right;
        width: 100%;
        font-size: .9em;
    }

    .fa-circle-exclamation {
        text-align: right;
        margin: auto .4em;
        font-size: 1.1em;
    }
}

.hidden {
    display: none !important;
}

.darkmode {
    background-color: #1e1e22 !important;

    #result {
        color: black !important;
    }

    .trip {
        background-color: #242429 !important;
        border: 1px solid #303035 !important;

        &:hover {
            box-shadow: 0 0 40px rgba(169, 169, 169, 0.03) !important;
        }
    }
    
    h1, h2, p, span, .fa-angles-down, .fa-circle-exclamation {
        color: white !important;
    }

    button {
        border: 2px solid #303035 !important;

        &:hover {
            box-shadow: 0 0 30px rgba(169, 169, 169, 0.05) !important;
        }

    }

}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }



  // Searchbox

#searchBox,
#resultsContainer {
    box-sizing: border-box;
    position: absolute;
    z-index: 50;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    //transition: all 0.2s ease;
}

#searchBox {
    border-radius: 10px;
}

#searchBox:focus {
    outline: none;
}

#searchGroup {
    margin-top: 10px;
    position: absolute;
    //transition: all 0.2s ease !important;
    opacity: 0;
}

#searchGroup.visible {
    opacity: 1 !important;
}

#resultsContainer {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    display: none;
    border-radius: 10px;
}

#result {
    margin: 0;
    margin-bottom: 10px;
    //border-bottom: 2px solid #ccc;
    cursor: pointer;
    background-color: #efefef;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}