* {
  font-family: Inter, sans-serif;
}

@media (max-width: 768px) {
  body {
    font-size: 0.7em;
    overflow: hidden;
  }
  .title i {
    font-size: 2em !important;
  }
  h1, i {
    margin: auto 1vw;
  }
  .container {
    padding: 0vh auto;
    height: 100%;
    padding-top: 0 !important;
  }
  .tripsContainer {
    display: block !important;
    width: 200%;
    margin: auto;
    margin-left: -50%;
  }
  .trips {
    padding: 10000vw !important;
  }
  button {
    margin-top: 1vh !important;
    width: 25vw !important;
  }
  .track {
    font-size: 1.3em !important;
  }
  .delete {
    visibility: hidden !important;
  }
  .tooltip-text {
    font-size: 1.3em !important;
  }
  .fa-clock {
    font-size: 1.1em !important;
    margin: 0.5vh 0.5vh !important;
  }
  .tooltip-container .delay-indicator {
    margin: auto;
    visibility: visible !important;
  }
}
@media (min-width: 769px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  .title i {
    margin-bottom: 2vh !important;
  }
  h1 {
    font-size: 3em !important;
    margin-bottom: 1vh !important;
  }
  /*.container {
      width: 100%;
      max-width: 1000px;
      padding: 0vh 0;
      padding-top: 0vh !important;
  }*/
  .delete {
    display: inline-block;
  }
}
.title {
  display: flex;
  justify-content: center;
  margin: auto;
}
.title h1, .title i {
  margin: auto 1vh;
}
.title i {
  color: #3b82f6;
  font-size: 2.5em;
}

h1 {
  margin: 0;
}

.container {
  position: relative;
  background-color: white;
  padding: 6vh 8vh;
  z-index: 1;
  margin: 2vh;
}
.container h1 {
  text-align: center;
}

.center {
  /*position: absolute;
  margin: auto;
  text-align: center;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tripsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-mobile {
  width: 50vw !important;
  margin: 2vh auto !important;
  margin-bottom: 0 !important;
  max-width: none !important;
}

.trip {
  margin: 1em;
  padding: 2em;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 2vh;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 15vw;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.trip:hover {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
  transform: scale(1.0075);
}

.refresh {
  text-align: center;
}
.refresh button {
  margin: auto;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #3b82f6;
  border: 2px solid #e4e4e7;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.refresh button:hover {
  background-color: #2a5fb5;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
}
.refresh button i {
  margin: auto;
}

.trip .station {
  padding-top: 0 !important;
  margin: 0 !important;
}
.trip span {
  display: flex;
  justify-content: center;
}
.trip span i {
  font-size: 1em;
  margin: auto 0.5vh;
}
.trip #title_time {
  font-weight: 500;
  padding-top: 0 !important;
  margin: 0 !important;
}

.title_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

i {
  margin: 2vh 0;
  font-size: 1.5em;
}

.track {
  margin: 0 0 auto;
}

.apple-mobile-web-app {
  font-size: 0.7em !important;
}
.apple-mobile-web-app button {
  margin-top: 4vh !important;
  width: 25vw !important;
  transform: scale(1.5) !important;
}
.apple-mobile-web-app .title {
  font-size: 1.5em !important;
  margin-top: 3vh !important;
}

.transparent {
  opacity: 0%;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -60px; /* Use half the width to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 0.7;
}

.transparent ~ .tooltip-text {
  visibility: hidden !important;
  opacity: 0 !important;
}

.delay-indicator {
  margin: auto;
  visibility: hidden !important;
}/*# sourceMappingURL=index.css.map */